:root {
    --primary: #f77062;
    --secondary: #1b998b;
}

body {
    font-family: 'Lato', sans-serif;
}

#portfolio {
    background-color: #fafafa;
}

#phrase {
    background-color: var(--primary);
}

#languages {
    background-color: #fafafa;
}

#footer {
    background-color: var(--primary);
    color: white;
}

.about-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 3rem;
}

.about-container__text,
.about-container__image {
    width: 50%;
}

.about-container__text p {
    line-height: 1.5;
}

.about-container__image {
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container__image img {
    margin: 0 auto;
    max-width: 80%;
}

.portfolio-card-container {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.card {
    max-width: 20rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.2);
}

.card__img1 {
    aspect-ratio: 16/10;
    background-image: url("../assets/card1.jpg");
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.card__img2 {
    aspect-ratio: 16/10;
    background-image: url("../assets/card2.jpg");
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.card__img3 {
    aspect-ratio: 16/10;
    background-image: url("../assets/card3.jpg");
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.card__body {
    padding: 2rem 1rem;
}

.card__body p {
    font-weight: 300;
    padding: 0.5rem 0;
}

.card__body>button {
    display: block;
    margin: 0.5rem auto;
}

.phrase-container {
    color: white;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
}

.languages-container {
    /* box-model */
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 3rem 2rem;
}

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
}

.gallery-grid {
    padding: 2rem 0;
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-grid img {
    border-radius: 0.5rem;
}


.languages__icons {
    /* box-model */
    display: flex;
    gap: 2.5rem 5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.languages__icons>img {
    width: 8%;
    min-width: 96px;
}

.footer-container {
    /* positioning */
    /* box-model */
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    /* typography */
    /* visual */
    /* miscellany */
}

.footer__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__text__socialicons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 4rem;
}

.footer__text__socialicons div {
    width: 33%;
    text-align: center;
}

.footer__text__socialicons a {
    color: white;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    z-index: 20;
}

.footer__text__socialicons a:hover {
    color: var(--primary);
}

.footer__text__socialicons a:hover:before {
    background-color: white;
}

.footer__text__socialicons a:before {
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
}


.footer__text__nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 4rem;
}

.footer__text__nav div {
    width: 33%;
    text-align: center;
}

.footer__text__nav a {
    color: white;
}

.footer__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img>img {
    max-width: 360px;
}

/*utilitarios*/
.title-level-2-primary {
    color: var(--primary);
    padding: 2rem 0;
    font-size: 2.5rem;
}

.title-level-2-white {
    color: white;
    padding: 2rem 0;
    font-size: 2.5rem;
}

.title-level-3-secondary {
    color: var(--secondary);
    font-size: 1.5rem;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.btn-primary {
    background-color: var(--primary);
    border: 0;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--secondary);
    border: 0;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-secondary:hover,
.btn-primary:hover {
    filter: brightness(110%);
}

.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* mediaQueries */
@media screen and (max-width:550px) {

    .title-level-2-primary,
    .title-level-2-white {
        font-size: 2rem;
    }

    .languages__icons {
        /* box-model */
        justify-content: space-evenly;
    }

    .about-container {
        flex-direction: column;
    }

    .about-container__text,
    .about-container__image {
        width: 100%;
    }

    .about-container__text>h2 {
        text-align: center;
    }

    .about-container__text button {
        display: block;
        margin: 2rem auto;
    }

    .portfolio-card-container {
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__text,
    .footer__img {
        width: 100%;
    }

    .footer__img {
        order: 1;
    }

    .footer__text {
        order: 2;
    }

    .footer__text__socialicons {
        justify-content: space-between;
        padding: 0;
    }

    .footer__text__nav {
        justify-content: space-between;
        padding: 0;
    }

    .footer__text p {
        text-align: center;
    }
}

@media screen and (min-width:551px) {}